<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<!-- begin::Head -->
<head>
    <meta charset="utf-8"/>
    <title>
        后台管理 | 文章管理
    </title>
    <th:block th:include="includes/header :: header"></th:block>

</head>
<!-- end::Head -->
<body class="m-page--fluid m--skin- m-content--skin-light2 m-header--fixed m-header--fixed-mobile m-aside-left--enabled m-aside-left--skin-dark m-aside-left--offcanvas m-footer--push m-aside--offcanvas-default">

<!--begin::Portlet-->
<div class="m-portlet">
    <div class="m-portlet__head">
        <div class="m-portlet__head-caption">
            <div class="m-portlet__head-title">
                <span class="m-portlet__head-icon m--hide">
                    <i class="la la-gear"></i>
                </span>
                <h3 class="m-portlet__head-text">
                    文章管理
                </h3>
            </div>
        </div>
    </div>
    <!--begin::Form-->
    <form class="m-form" action="/article/save" method="post">
        <div class="m-portlet__body">
            <div class="form-group m-form__group row">
                <label class="col-lg-3 col-form-label">
                    所属频道
                </label>
                <div class="col-lg-6">
                    <input id="channelId" name="channelId" type="hidden"/>
                    <input id="channelText" type="text" class="form-control m-input" placeholder="请选择" readonly data-toggle="modal"
                           data-target="#m_modal_1">
                </div>
            </div>
            <div class="form-group m-form__group row">
                <label class="col-lg-3 col-form-label">
                    文章标题
                </label>
                <div class="col-lg-6">
                    <input name="title" type="text" class="form-control m-input" placeholder="文章标题">
                </div>
            </div>
            <div class="form-group m-form__group row">
                <label class="col-lg-3 col-form-label">
                    文章连接
                </label>
                <div class="col-lg-6">
                    <input name="url" type="text" class="form-control m-input" placeholder="文章连接">
                </div>
            </div>
            <div class="form-group m-form__group row">
                <label class="col-lg-3 col-form-label">
                    文章简介
                </label>
                <div class="col-lg-6">
                    <input name="introduction" type="text" class="form-control m-input" placeholder="文章简介">
                </div>
            </div>
            <div class="form-group m-form__group row">
                <label class="col-lg-3 col-form-label">
                    相册
                </label>
                <div class="col-lg-6">
                    <input name="cover" type="text" class="form-control m-input" placeholder="相册">
                </div>
            </div>
        </div>
        <div class="m-portlet__foot m-portlet__foot--fit">
            <div class="m-form__actions m-form__actions">
                <div class="row">
                    <div class="col-lg-3"></div>
                    <div class="col-lg-6">
                        <button type="submit" class="btn btn-success">
                            提交
                        </button>
                        <button type="reset" class="btn btn-secondary" onclick="history.go(-1);">
                            返回
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </form>
    <!--end::Form-->
</div>

<div class="modal fade" id="m_modal_1" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">
                    所属频道
                </h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
											<span aria-hidden="true">
												&times;
											</span>
                </button>
            </div>
            <div class="modal-body">
                <div id="m_tree_1" class="tree-demo">
                    <ul>
                        <li th:each="channel : ${channels}" th:attr="id=${channel.id}">
                            <a href="#" th:text="${channel.name}">
                                Root node 1
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">
                    关闭
                </button>
                <button type="button" class="btn btn-primary" data-dismiss="modal">
                    选择
                </button>
            </div>
        </div>
    </div>
</div>

<!--end::Portlet-->


<th:block th:include="includes/footer :: footer"></th:block>
<script src="/assets/app/js/treeview.js" type="text/javascript"></script>
<script>
    $(function () {
        TreeView.initTree("m_tree_1","/channel/tree",function (obj,e) {
            var currentNode=e.node;
            $("#channelId").val(currentNode.id);
            $("#channelText").val(currentNode.text);
        });
    });
</script>
</body>
</html>